# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep
!uploads/avatar/.gitkeep

# OS
.DS_Store
Thumbs.db